.ipynb_checkpoints

# Exclude files produced by the notebooks
*.exr
*.png
*.jpg
*.ply

# Add back the files related to the scene data
!scenes/*.exr
!scenes/*.png
!scenes/*.jpg
!scenes/*.ply

# macOS
\.DS_Store
